---

- name: install basic packages
  apt: name={{ item }} state=latest update_cache=yes cache_valid_time=600
  with_items:
    - ansible
    - ca-certificates 
    - curl
    - git
    - python-pip
    - python-dev
    - openssh-server
    - vim
    - wget

